@mixin text($width: 100%, $font-size: 16px, $font-weight: 500) {
  width: $width;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin share__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
