@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);

$font-16: 16px;
$font-13: 13px;
$font-20: 20px;

$font-weight-medium: 500;
$font-weight-bold: 700;

$font-primary: 'Manrope', serif;

$line-height-20: 20px;
$line-height-24: 24px;
$line-height-28: 28px;

$letter-spacing-xs: 0.12px;
$letter-spacing-s: 0.2px;
$letter-spacing-m: 0.25px;
$letter-spacing-l: 5px;
