@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.article {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  height: 512px;
  width: 327px;
  background: hsl(0, 0%, 100%);
  overflow: hidden;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0 40px 40px -10px hsla(210, 29%, 85%, 0.5);
}
.article__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
.article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__title {
  width: 263px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  color: hsl(217, 19%, 35%);
  line-height: 24px;
  letter-spacing: 0.2px;
}
.article__text {
  width: 263px;
  font-size: 13px;
  font-weight: 500;
  margin: 12px 0 32px;
  color: hsl(214, 17%, 51%);
  line-height: 20px;
  letter-spacing: 0.12px;
}
.article__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
}
.article__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 992px) {
  .article {
    flex-direction: row;
    gap: 40px;
    height: 280px;
    width: 730px;
    overflow: visible;
  }
  .article__image {
    height: 100%;
    width: 285px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .article__content {
    align-items: start;
    width: 365px;
    margin-top: 32px;
  }
  .article__title {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
  }
  .article__text {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    margin: 12px 0 20px;
  }
  .article__footer {
    padding: 0 0;
  }
  .article__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  .article__btn:hover {
    background: hsl(214, 17%, 51%);
    transition: background 0.5s ease-in-out;
  }
  .article__btn:hover .article__icon path {
    fill: hsl(0, 0%, 100%);
    transition: fill 0.5s ease-in-out;
  }
  .article__icon {
    transition: fill 0.5s ease-in-out;
  }
}
.share {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 32px;
  background: hsl(217, 19%, 35%);
  opacity: 0;
  pointer-events: none;
  transform: translateY(64px);
}
.share--initial {
  opacity: 0;
  pointer-events: none;
  transform: translateY(64px);
  animation: none;
}
.share--show {
  opacity: 1;
  pointer-events: all;
  animation: shareShow 0.5s forwards;
}
.share--hide {
  opacity: 0;
  pointer-events: none;
  animation: shareHide 0.5s forwards;
}
.share__text {
  margin-right: 21px;
  color: hsl(212, 23%, 69%);
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}
.share__socials {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 56px;
}
.share__link {
  display: flex;
  align-items: center;
}
.share__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 992px) {
  .share {
    right: -68px;
    bottom: 96px;
    height: 55px;
    width: 248px;
    padding-left: 36px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(0);
    border-radius: 10px;
  }
  .share::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 17px;
    width: 17px;
    background: hsl(217, 19%, 35%);
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .share--show {
    animation: shareShowLarge 0.5s forwards;
  }
  .share--hide {
    animation: shareHideLarge 0.5s forwards;
  }
  .share__socials {
    margin-right: 56px;
  }
  .share__btn {
    display: none;
  }
}
@keyframes shareShow {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(64px);
  }
  10% {
    opacity: 1;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
@keyframes shareHide {
  0% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  99% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(64px);
  }
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(64px);
  }
}
@keyframes shareShowLarge {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(64px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
@keyframes shareHideLarge {
  0% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    transform: translateY(64px);
  }
}
.author {
  display: flex;
  gap: 16px;
}
.author__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.author__name {
  color: hsl(217, 19%, 35%);
  line-height: 20px;
  letter-spacing: 0.12px;
  font-weight: 700;
  font-size: 13px;
}
.author__publication {
  color: hsl(212, 23%, 69%);
  line-height: 20px;
  letter-spacing: 0.12px;
  font-weight: 500;
  font-size: 13px;
}

.container {
  font-family: "Manrope", serif;
  background: hsl(210, 46%, 95%);
}

/*# sourceMappingURL=main.css.map */
