.article {
  display: flex;
  flex-direction: column;
  gap: $space-36;

  &__image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include text(263px, $font-16, $font-weight-bold);
    display: inline-block;
    color: $dark-grayish-blue;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-s;
  }

  &__text {
    @include text(263px, $font-13, $font-weight-medium);
    margin: $space-12 0 $space-32;
    color: $desaturated-dark-blue;
    line-height: $line-height-20;
    letter-spacing: $letter-spacing-xs;
  }

  &__footer {
    display: flex;
    gap: $space-59;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
  }
}
